<div class="container">
  <div class="search-box">
    <form class="search-form" id="search-form">
      <div class="search-input-box">
        <input class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
    
      />
        <button class="search-button" type="submit">
          <img src="./images/search.png" alt="Search" width="20" height="20">
        </button>
      </div>
      
      
    </form>
  </div>
</div>
